<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% movies.each do |movie| %>
    <tr>
      <td><em><%=  link_to truncate(movie.name, :length => 60), edit_movie_path(movie) %></em></td>
      <td><%= truncate movie.description, :length => 70 %></td>
    </tr>
    <% end %>
  </tbody>
</table>

